# .
/eclipse-build
/maven-build
/classes
build
/idea-build
dist
lib
test-lib
/*~
/velocity.log
/build.properties
/.idea
lucene/**/*.iml
parent.iml
*.ipr
*.iws
/.project
/.classpath
/.settings
/.caches
/prj.el
/bin
/bin.*
pom.xml
/nbproject
/nb-build
.pydevproject
lucene8a/ls8/.project
lucene8a/ls8/.settings/org.eclipse.m2e.core.prefs
/lucene8a/ls8/ls8a.core1.fsa1/.settings/
/lucene8a/ls8/.settings/
